medlaunch-challenge/stepfunctions/pipeline.json
{
  "Comment": "MedLaunch accreditation pipeline - orchestrates Athena query execution, polls for completion, copies results to production on success, and sends SNS alert on failure",
  "StartAt": "StartAthenaQuery",
  "States": {
    "StartAthenaQuery": {
      "Type": "Task",
      "Comment": "Invoke the facility processor Lambda to start an Athena query. Returns queryExecutionId.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medlaunch-facility-processor",
        "Payload.$": "$"
      },
      "ResultPath": "$.lambdaResult",
      "Next": "ExtractQueryId",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SendFailureAlert",
          "ResultPath": "$.error"
        }
      ]
    },
    "ExtractQueryId": {
      "Type": "Pass",
      "Comment": "Pull the queryExecutionId out of the Lambda response and promote it to the top level.",
      "Parameters": {
        "queryExecutionId.$": "$.lambdaResult.Payload.queryExecutionId"
      },
      "Next": "WaitForQuery"
    },
    "WaitForQuery": {
      "Type": "Wait",
      "Comment": "Wait 10 seconds before checking Athena query status.",
      "Seconds": 10,
      "Next": "CheckQueryStatus"
    },
    "CheckQueryStatus": {
      "Type": "Task",
      "Comment": "Invoke the status checker Lambda to poll Athena for query completion.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medlaunch_athena_status_checker",
        "Payload.$": "$"
      },
      "ResultPath": "$.statusResult",
      "Next": "EvaluateStatus",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 3,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SendFailureAlert",
          "ResultPath": "$.error"
        }
      ]
    },
    "EvaluateStatus": {
      "Type": "Choice",
      "Comment": "Route based on Athena query result. SUCCEEDED goes to copy, FAILED goes to alert, still running loops back to wait.",
      "Choices": [
        {
          "Variable": "$.statusResult.Payload.succeeded",
          "BooleanEquals": true,
          "Next": "CopyResultsToProduction"
        },
        {
          "Variable": "$.statusResult.Payload.failed",
          "BooleanEquals": true,
          "Next": "SendFailureAlert"
        }
      ],
      "Default": "WaitForQuery"
    },
    "CopyResultsToProduction": {
      "Type": "Task",
      "Comment": "Copy the Athena result CSV from staging to the production prefix.",
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Parameters": {
        "Bucket": "medlaunch-techchallenge-rasagyna",
        "CopySource.$": "States.Format('medlaunch-techchallenge-rasagyna/athena-results/{}.csv', $.queryExecutionId)",
        "Key.$": "States.Format('production/query-results/{}.csv', $.queryExecutionId)"
      },
      "ResultPath": "$.copyResult",
      "Next": "PipelineSucceeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SendFailureAlert",
          "ResultPath": "$.error"
        }
      ]
    },
    "PipelineSucceeded": {
      "Type": "Succeed",
      "Comment": "Terminal success state. Results are in the production prefix."
    },
    "SendFailureAlert": {
      "Type": "Task",
      "Comment": "Publish SNS notification with full error details so nothing silently fails.",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:251335055169:medlaunch-pipeline-alerts",
        "Subject": "MedLaunch Pipeline Failed",
        "Message.$": "States.Format('Pipeline failed. Error details: {}', States.JsonToString($))"
      },
      "Next": "PipelineFailed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Comment": "Terminal failure state. SNS alert has already been sent.",
      "Error": "PipelineFailed",
      "Cause": "Athena query failed or pipeline error occurred"
    }
  }
}
